.news-aside-block {
    &__title {
        font-size: 22px;
        font-weight: 720;
    }
    &__image {
        max-width: 240px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 17px;
    }
    &__item span{
        color: #797979;
        font-size: 12px;
        font-weight: 300;
        margin-right: 6px;
    }
    &__item p {
        font-weight: 500;
        line-height: 20px;
        margin: 0;
    }
    &__item {
        margin-bottom: 17px;
    }
}