@font-face {
	font-family: "ALSHauss";
	font-display: swap;
	src: url("../fonts/ALSHauss-Black.woff2") format("woff2"), url("../fonts/ALSHauss-Black.woff") format("woff"), url("../fonts/ALSHauss-Black.ttf") format("ttf");
	font-weight: 900;
}
@font-face {
	font-family: "ALSHauss";
	font-display: swap;
	src: url("../fonts/ALSHauss-BlackItalic.woff2") format("woff2"), url("../fonts/ALSHauss-BlackItalic.woff") format("woff"), url("../fonts/ALSHauss-BlackItalic.ttf") format("ttf");
	font-weight: 400;
}
@font-face {
	font-family: "ALSHauss";
	font-display: swap;
	src: url("../fonts/ALSHauss-BookItalic.woff2") format("woff2"), url("../fonts/ALSHauss-BookItalic.woff") format("woff"), url("../fonts/ALSHauss-BookItalic.ttf") format("ttf");
	font-weight: 400;
}
@font-face {
	font-family: "ALSHauss";
	font-display: swap;
	src: url("../fonts/ALSHauss-BoldItalic.woff2") format("woff2"), url("../fonts/ALSHauss-BoldItalic.woff") format("woff"), url("../fonts/ALSHauss-BoldItalic.ttf") format("ttf");
	font-weight: 400;
}
@font-face {
	font-family: "ALSHauss";
	font-display: swap;
	src: url("../fonts/ALSHauss-Bold.woff2") format("woff2"), url("../fonts/ALSHauss-Bold.woff") format("woff"), url("../fonts/ALSHauss-Bold.ttf") format("ttf");
	font-weight: 700;
}
@font-face {
	font-family: "ALSHauss";
	font-display: swap;
	src: url("../fonts/ALSHauss-Book.woff2") format("woff2"), url("../fonts/ALSHauss-Book.woff") format("woff"), url("../fonts/ALSHauss-Book.ttf") format("ttf");
	font-weight: 400;
}
@font-face {
	font-family: "ALSHauss";
	font-display: swap;
	src: url("../fonts/ALSHauss-Hairline.woff2") format("woff2"), url("../fonts/ALSHauss-Hairline.woff") format("woff"), url("../fonts/ALSHauss-Hairline.ttf") format("ttf");
	font-weight: 400;
}
@font-face {
	font-family: "ALSHauss";
	font-display: swap;
	src: url("../fonts/ALSHauss-Light.woff2") format("woff2"), url("../fonts/ALSHauss-Light.woff") format("woff"), url("../fonts/ALSHauss-Light.ttf") format("ttf");
	font-weight: 300;
}
@font-face {
	font-family: "ALSHauss";
	font-display: swap;
	src: url("../fonts/ALSHauss-LightItalic.woff2") format("woff2"), url("../fonts/ALSHauss-LightItalic.woff") format("woff"), url("../fonts/ALSHauss-LightItalic.ttf") format("ttf");
	font-weight: 400;
}
@font-face {
	font-family: "ALSHauss";
	font-display: swap;
	src: url("../fonts/ALSHauss-Medium.woff2") format("woff2"), url("../fonts/ALSHauss-Medium.woff") format("woff"), url("../fonts/ALSHauss-Medium.ttf") format("ttf");
	font-weight: 500;
}
@font-face {
	font-family: "ALSHauss";
	font-display: swap;
	src: url("../fonts/ALSHauss-MediumItalic.woff2") format("woff2"), url("../fonts/ALSHauss-MediumItalic.woff") format("woff"), url("../fonts/ALSHauss-MediumItalic.ttf") format("ttf");
	font-weight: 400;
}
@font-face {
	font-family: "ALSHauss";
	font-display: swap;
	src: url("../fonts/ALSHauss-Regular.woff2") format("woff2"), url("../fonts/ALSHauss-Regular.woff") format("woff"), url("../fonts/ALSHauss-Regular.ttf") format("ttf");
	font-weight: 400;
}
@font-face {
	font-family: "ALSHauss";
	font-display: swap;
	src: url("../fonts/ALSHauss-RegularItalic.woff2") format("woff2"), url("../fonts/ALSHauss-RegularItalic.woff") format("woff"), url("../fonts/ALSHauss-RegularItalic.ttf") format("ttf");
	font-weight: 400;
}
@font-face {
	font-family: "ALSHauss";
	font-display: swap;
	src: url("../fonts/ALSHauss-Thin.woff2") format("woff2"), url("../fonts/ALSHauss-Thin.woff") format("woff"), url("../fonts/ALSHauss-Thin.ttf") format("ttf");
	font-weight: 100;
}
@font-face {
	font-family: "ALSHauss";
	font-display: swap;
	src: url("../fonts/ALSHauss-ThinItalic.woff2") format("woff2"), url("../fonts/ALSHauss-ThinItalic.woff") format("woff"), url("../fonts/ALSHauss-ThinItalic.ttf") format("ttf");
	font-weight: 400;
}
@font-face {
	font-family: "_";
	font-display: swap;
	src: url("../fonts/_.woff2") format("woff2"), url("../fonts/_.woff") format("woff"), url("../fonts/_.ttf") format("ttf");
	font-weight: 400;
}
@font-face {
	font-family: "ALSHauss";
	font-display: swap;
	src: url("../fonts/ALSHauss-HairlineItalic.woff2") format("woff2"), url("../fonts/ALSHauss-HairlineItalic.woff") format("woff"), url("../fonts/ALSHauss-HairlineItalic.ttf") format("ttf");
	font-weight: 400;
}
