.content {
    font-family: 'Roboto';
    font-size: vw(20);
    color: #324659;
    padding: vw(85) 0 vw(100) vw(141);
    max-height: 100%;
    overflow: auto;
    box-sizing: border-box;
    @media(max-width:1025px) {
        font-size: 20px;
    }
    &__title {
        font-size: vw(50);
        font-weight: bold;
        padding-bottom: vw(75);
        margin: 0;
        @media(max-width:1025px) {
            padding-bottom: vw(40);
        }
        @media(max-width:1025px) {
            font-size: 30px;
        }
    }
    &__text {
        font-size: vw(24);
        font-weight: bold;
        display: block;
        padding-bottom: vw(32);
        @media(max-width:1025px) {
            font-size: 20px;
        }
    }
    &__zapros {
        font-weight: bold;
        display: block;
    }
    &__list {
        padding: 0 0 vw(53) 0;
        @media(max-width:1025px) {
            padding: 0 0 vw(15) 0;
        }
    }
    &__list li {
        list-style-type: none;
        padding-bottom: vw(15);
    }
    &__top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
}
.content-two {
    font-family: 'Roboto';
    font-size: vw(20);
    color: #324659;
    padding: vw(76) vw(81) vw(130) vw(141);
    @media(max-width:1025px) {
        font-size: 20px;
    }
    &__top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media(max-width:650px) {
            flex-direction: column;
        }
    }
    &__item {
        padding-bottom: 38px;
    }
    &__bottom {
        line-height: 186%;
    }
    &__bottom div {
        padding-bottom: vw(31);
    }
}
.content-two h2 {
    padding-bottom: vw(40);
}
.content-two-top {
    &__left, &__rigth {
        width: 45%;
        line-height: 186%;
        @media(max-width:650px) {
            width: 100%;
        }
    }
}