.banner-block {
    background: url(/img/banner.jpg) 0 0 no-repeat;
    width: 100%;
    position: relative;
    &__advertisement {
        position: absolute;
        top: 5px;
        right: 6px;
        color: #fff;
        font-size: 10px;
    }
    &__title {
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        padding-top: 15px;
        padding-bottom: 160px;

    }
    &__title span {
        font-size: 48px;
        display: block;
        color: #fff;
    }
    &__green {
        font-size: 31px;
        color: #2BE49D;
    }
    &__bottom {
        background: #2BE49D;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 500;
        border: none;
        padding: 9px 32px;
        margin: 0 auto;
        display: block;
        margin-bottom: 8px;
    }
    &__eye {
        color: #fff;
        display: inherit;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        padding-bottom: 15px;
    }
    &__eye:before {
        content: url("/img/eye.png");
        width: 30px;
        display: inline;
        margin-right: 8px;
    }
}
.green {
    font-size: 31px !important;
    color: #2BE49D !important;
}