.social-network-block {
    margin-top: 20px;
    span {
        display: block;
        border-bottom: 1px solid #E6E6E6;
        width: 47%;
        color: #797979;
        font-size: 14px;
        margin-top: 6px;
    }
    img {
        margin-right: 5px;
    }
}